.maincontainer-infomenu-weatherbox-front{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 5px;
}
.maincontainermaincotainer-infomenu-weatherbox-front-setdisplaynone{
    display: none;
}
